body {
  background-color: azure;
}

.pfamDomDrawContainer {
  position: relative;
}

.pfamDomDrawContainer > .scroll-notice {
  margin: auto;
  width: 70px;
  font-family: sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 13px;
  text-align: center;
}

.pfamDomDrawContainer > .scroll-notice img {
  width: 10px;
}

.pfamDomDrawContainer > div {
  background-color: #fff;
  margin: auto;
  margin-bottom: 10px;
}

.my-qtip{
	background-color: #F1F5F8;
	border-color: #003366;
	color: #003366;
}

.my-qtip .qtip-titlebar{
  background-color: #F1F5F8;
}

.my-qtip .qtip-close .qtip-icon{
  background-position: -2px 0;
}

.center-protein {
  display: block !important;
  margin: auto;
}